.footer{
    align-items: center;
    background: $cor-primaria;
    color: $white-color;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    height: 150px;
    padding: 0 20px;
    width: 100%;
    .footer-p{
        text-align: center;
    }

    @media screen and (min-width: 1276px) {
        .footer{
            display: flex;
        }
    }

  
}